{% extends 'base.html' %}



{% block content %}
    <h1>Add Expense</h1>
    <div class="container mt-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Expenses</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Expense</li>
            </ol>
        </nav>
    </div>
    <div class="card mx-auto mt-4" style="max-width: 500px;">
        <div class="card-body">
            <form action="{% url 'edit-expense' expense.id %}" method="post">
            {% include 'partials/_messages.html' %}
                {% csrf_token %}
                <div class="form-group">
                    <label for="amount">Amount</label>
                    <input type="text" class="form-control form-control-sm" id="amount" name="amount" value="{{ values.amount }}"required>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control form-control-sm" id="description" name="description" value="{{ values.description }}">
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control form-control-sm" id="category" name="category" required>
                    <option selected name="category" value="{{ category.name }}">{{ values.category }}</option>
                        {% for category in categories %}
                            <option name="category" value="{{ category.name }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="expense_date">Date</label>
                    <input type="date" class="form-control form-control-sm" id="expense_date" name="expense_date" value="{{ values.expense_date }}" required>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-sm btn-primary mt-2">Update</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

