{% extends 'base.html' %}
{% block content %}
    <h1>Expense list</h1>
    <ul class="list-group">
        <li class="list-group-item">Bought Beer</li>
        <li class="list-group-item">Bought Beer</li>
        <li class="list-group-item">Bought Beer</li>
        <li class="list-group-item">Bought Beer</li>
        <li class="list-group-item">Bought Beer</li>
        <li class="list-group-item">Bought Beer</li>
        <li class="list-group-item">Bought Beer</li>
        <li class="list-group-item">Bought Beer</li>
        <li class="list-group-item">Bought Beer</li>
    </ul>
{% endblock %}
